template(name='stats')
	with gameData
		.panel.panel-default
			.panel-heading
				h2 #{gameInfos.yourClub} : #{stats.yourClub.score} - #{stats.opponent.score} : #{gameInfos.opponent}
				+stateOfTheGame
			.panel-body
				h3 {{_ "yourClub"}} : #{gameInfos.yourClub}
				p.italic {{_ "explanationHowToAddAStat"}}
				.yourClub.row.playerRow
					each yourClubPlayersPlaying
						+yourClubPlayerPill
						+yourClubPlayerModal
					else
						button.displayReplacement.btn.btn-warning(type='button', class='#{gameEndedOrNot}') {{_ "fiveStarter"}}
				button.doReplacement.btn.btn-primary(type='button', class='#{doReplacementYourClub}') {{_ "makeAReplacement"}}
				.clearfix
					h3 {{_ "opponent"}} : #{gameInfos.opponent}
					p.italic {{_ "explanationHowToAddAStat"}}
					.opponent.row.playerRow
						each opponentPlayersPlaying
							+opponentPlayerPill
							+opponentPlayerModal
						else
							button.displayReplacement.btn.btn-warning(type='button', class='#{gameEndedOrNot}') {{_ "fiveStarter"}}
					button.doReplacement.btn.btn-primary(type='button', class='#{doReplacementOpponent}') {{_ "makeAReplacement"}}