template(name="stats")
	if Template.subscriptionsReady
		with gameData
			.panel.panel-default
				.panel-heading
					p.panel-title #{yourClub} : #{stats.yourClub.score} - #{stats.opponent.score} : #{opponent}
				.panel-body
					+stateOfTheGame
					.panel.panel-default
						.panel-heading
							p.panel-title {{_ "yourClub"}} : #{yourClub}
						.panel-body
							p
								span.label.label-default {{_ "explanationHowToAddAStat"}}
							.yourClub.row.playerRow
								each yourClubPlayersPlaying
									+playerPill
								else
									button.displayReplacement.btn.btn-warning(type="button", class="#{gameEndedOrNot}") {{_ "fiveStarter"}}
						.panel-footer
							button.doReplacement.btn.btn-primary(type="button", class="#{doReplacementYourClub}") {{_ "makeAReplacement"}}
					.panel.panel-default
						.panel-heading
							p.panel-title {{_ "opponent"}} : #{opponent}
						.panel-body
							p
								span.label.label-default {{_ "explanationHowToAddAStat"}}
							.opponent.row.playerRow
								each opponentPlayersPlaying
									+playerPill
								else
									button.displayReplacement.btn.btn-warning(type="button", class="#{gameEndedOrNot}") {{_ "fiveStarter"}}
						.panel-footer
							button.doReplacement.btn.btn-primary(type="button", class="#{doReplacementOpponent}") {{_ "makeAReplacement"}}
			+playerModal
	else
		+spinner