template(name="stats")
	if Template.subscriptionsReady
		.row
			+teamsAndScore(props=dataForTeamsAndScore)
			+stateOfTheGame(
				gameState=gameState
				gameId=gameId
			)
		.row
			+playersInGame(props=dataForPlayersInGameYourClub)
			+playersInGame(props=dataForPlayersInGameOpponent)
		+playerModal
		+opponentPlayerModal
	else
		+spinner