template(name='myClub')
	#presentation
		h1 #{name}
		p {{_ "region"}} : #{region}
		p {{_ "department"}} : #{department}
		p {{_ "city"}} : #{city}
		p {{_ "jerseyColor"}} :
			.displayJerseyColor(style='background-color:#{jerseyColor};')
	#teams
		h2 {{_ "yourTeams"}}
		.row
			each teams
				.col-sm-6.col-md-4
					.thumbnail.shadow
						.caption
							h3 #{teamName}}
							p {{_ "level"}} : #{level}
							p {{_ "group"}} : #{group}
							p {{_ "nbPlayers"}} : #{nbPlayers}
							p {{_ "nbCoachs"}} : #{nbCoachs}
							p
								a.teamEditionButton.btn.btn-info.shadow(href="{{pathFor 'teamEdition'}}", role='button') {{_ "modify"}}
								a.deleteTeam.pull-right.shadow.btn.btn-danger(href='#', role='button')
									span.glyphicon.glyphicon-remove(aria-hidden='true')
		a(href="{{pathFor 'newTeamDefinition'}}")
			button.btn.btn-primary.shadow(type='button') {{_ "goTeamDefinition"}}
