template(name='ongoingGames')
	each runningGames
		.row.shadow.displayLiveGames
			.row.vertical-align
				.col-xs-9.col-sm-9.col-md-9.col-lg-10
					h4 {{_ "level"}} : #{gameInfos.level} / {{_ "group"}} : #{gameInfos.group}
			.row.vertical-align
				.text-center.col-xs-4.col-sm-4.col-md-4.col-lg-5
					h3 #{gameInfos.homeTeam}
				.text-center.col-xs-4.col-sm-4.col-md-4.col-lg-5
					h3 #{gameInfos.awayTeam}
				.col-xs-3.col-sm-3.col-md-3.col-lg-1
					a(href="{{pathFor 'gameStats'}}")
						button.pull-right.shadow.btn.btn-default(type='button')
							span.glyphicon.glyphicon-log-in(aria-hidden='true')
			.row.vertical-align
				.text-center.col-xs-3.col-sm-3.col-md-3.col-lg-4
					h4 #{gameStats.score.homeTeam}
				.text-center.col-xs-2.col-sm-2.col-md-2.col-lg-2
					if notStarted
						h4 {{_ "notStarted"}}
					if q1Running
						h4 {{_ "q1Running"}}
					if q1Ended
						h4 {{_ "q1Ended"}}
					if q2Running
						h4 {{_ "q2Running"}}
					if halfTime
						h4 {{_ "halfTime"}}
					if q3Running
						h4 {{_ "q3Running"}}
					if q3Ended
						h4 {{_ "q3Ended"}}
					if q4Running
						h4 {{_ "q4Running"}}
				.text-center.col-xs-3.col-sm-3.col-md-3.col-lg-4
					h4 #{gameStats.score.awayTeam}
				.col-xs-3.col-sm-3.col-md-3.col-lg-1
					button.pull-right.shadow.btn.btn-danger(type='button')
						span.glyphicon.glyphicon-remove(aria-hidden='true')
	else
		p {{_ "noRunningGames"}}
		p
			+creationGame
