template(name='summary')
	.panel.panel-default
			.panel-heading
				.panel-title
					with gameData
						.clearfix
							h2 #{gameInfos.yourClub} : #{stats.yourClub.score} - #{stats.opponent.score} : #{gameInfos.opponent}
						.clearfix
							if notStarted
								p {{_ "stateOfTheGame"}} : {{_ "notStarted"}}
							if q1Running
								p {{_ "stateOfTheGame"}} : {{_ "q1Running"}}
							if q1Ended
								p {{_ "stateOfTheGame"}} : {{_ "q1Ended"}}
							if q2Running
								p {{_ "stateOfTheGame"}} : {{_ "q2Running"}}
							if halfTime
								p {{_ "stateOfTheGame"}} : {{_ "halfTime"}}
							if q3Running
								p {{_ "stateOfTheGame"}} : {{_ "q3Running"}}
							if q3Ended
								p {{_ "stateOfTheGame"}} : {{_ "q3Ended"}}
							if q4Running
								p {{_ "stateOfTheGame"}} : {{_ "q4Running"}}
							if oT1
								p {{_ "stateOfTheGame"}} : {{_ "oT1"}}
							if oT2
								p {{_ "stateOfTheGame"}} : {{_ "oT2"}}
							if oT3
								p {{_ "stateOfTheGame"}} : {{_ "oT3"}}
							if oT4
								p {{_ "stateOfTheGame"}} : {{_ "oT4"}}
							if oT5
								p {{_ "stateOfTheGame"}} : {{_ "oT5"}}
			.panel-body
				h4 {{_ "gameGap"}}
				#gameGapChart
				.panel.panel-default
					.panel-heading
						.panel-title
							with gameData
								h4 {{_ "yourClub"}} : #{gameInfos.yourClub}
					.panel-body
						.table-responsive
							table.table.table-condensed.table-bordered
								thead
									tr.active
										th.text-center {{_ "num"}}
										th.text-center {{_ "gameTime"}}
										th.text-center {{_ "pts"}}
										th.text-center {{_ "twoPoints"}}
										th.text-center %
										th.text-center {{_ "threePoints"}}
										th.text-center %
										th.text-center {{_ "ft"}}
										th.text-center %
										th.text-center {{_ "rebOffDef"}}
										th.text-center {{_ "totalRebounds"}}
										th.text-center {{_ "assist"}}
										th.text-center {{_ "steal"}}
										th.text-center {{_ "turnover"}}
										th.text-center {{_ "block"}}
										th.text-center {{_ "foulProvComm"}}
										th.text-center {{_ "foulRatio"}}
										th.text-center {{_ "eval"}}
								tbody.yourClubPlayers
									each playerDataYourClub
										tr(class='#{isInPlay}')
											th(scope='row') #{jersey}
											td.text-center #{playerTime}
											td.text-center #{stats.points.totalPoints}
											td.text-center #{stats.points.twoPointsIn}/#{total2PointsShoots}
											td.text-center #{percentage2PointsShoots}
											td.text-center #{stats.points.threePointsIn}/#{total3PointsShoots}
											td.text-center #{percentage3PointsShoots}
											td.text-center #{stats.points.onePointIn}/#{total1PointShoots}
											td.text-center #{percentage1PointShoots}
											td.text-center #{stats.rebounds.offReb}-#{stats.rebounds.defReb}
											td.text-center #{totalRebounds}
											td.text-center #{stats.assists}
											td.text-center #{stats.steals}
											td.text-center #{stats.turnovers}
											td.text-center #{stats.blocks}
											td.text-center #{provokedFouls}/#{stats.fouls.totalFouls}
											td.text-center #{foulsRatio}
											td.text-center #{stats.evaluation}
									tr.active
										with gameData
											th(scope='row') {{_ "total"}}
											td.text-center -
											td.text-center #{stats.yourClub.score}
											td.text-center #{stats.yourClub.points.twoPointsIn}/#{yourClubTotal2PointsShoots}
											td.text-center #{yourClubPercentage2PointsShoots}
											td.text-center #{stats.yourClub.points.threePointsIn}/#{yourClubTotal3PointsShoots}
											td.text-center #{yourClubPercentage3PointsShoots}
											td.text-center #{stats.yourClub.points.onePointIn}/#{yourClubTotal1PointShoots}
											td.text-center #{yourClubPercentage1PointShoots}
											td.text-center #{stats.yourClub.rebounds.offReb}-#{stats.yourClub.rebounds.defReb}
											td.text-center #{yourClubTotalRebounds}
											td.text-center #{stats.yourClub.assists}
											td.text-center #{stats.yourClub.steals}
											td.text-center #{stats.yourClub.turnovers}
											td.text-center #{stats.yourClub.blocks}
											td.text-center #{yourClubProvokedFouls}/#{stats.yourClub.fouls.totalFouls}
											td.text-center #{yourClubFoulsRatio}
											td.text-center #{stats.yourClub.evaluation}
				.panel.panel-default
					.panel-heading
						.panel-title
							with gameData
								h4 {{_ "opponent"}} : {{gameInfos.opponent}}
					.panel-body
						.table-responsive
							table.table.table-condensed.table-bordered
								thead
									tr.active
										th.text-center {{_ "num"}}
										th.text-center {{_ "gameTime"}}
										th.text-center {{_ "pts"}}
										th.text-center {{_ "twoPoints"}}
										th.text-center {{_ "threePoints"}}
										th.text-center {{_ "ft"}}
								tbody.opponentPlayers
									each playerDataOpponent
										tr(class='#{isInPlay}')
											th.text-center(scope='row') #{jersey}
											td.text-center #{playerTime}
											td.text-center #{stats.points.totalPoints}
											td.text-center #{stats.points.twoPointsIn}
											td.text-center #{stats.points.threePointsIn}
											td.text-center #{stats.points.onePointIn}
									tr.active
										with gameData
											th.text-center(scope='row') {{_ "total"}}
											td.text-center -
											td.text-center #{stats.opponent.score}
											td.text-center #{stats.opponent.points.twoPointsIn}
											td.text-center #{stats.opponent.points.threePointsIn}
											td.text-center #{stats.opponent.points.onePointIn}
