template(name="gameDefinition")
	.panel.panel-default
		.panel-heading
			p.panel-title {{_ "newGameDefinition"}}
		.panel-body
			.panel.panel-default
				.panel-heading
					p.panel-title {{_ "teamDefinition"}}
				.panel-body
					form
						.row
							.col-xs-12.col-sm-6.col-md-6.col-lg-6
								.form-group
										label(for="yourClub") {{_ "yourTeam"}}
										input#yourClub.form-control(type="text" list="homeClubList")
										datalist#homeClubList
											each clubName
												option #{name}
							.col-xs-12.col-sm-6.col-md-6.col-lg-6
								.form-group
										label(for="opponent") {{_ "opponent"}}
										input#opponent.awesomplete.form-control(type="text" list="awayClubList")
										datalist#awayClubList
											each clubName
												option #{name}
							.col-xs-12.col-sm-6.col-md-6.col-lg-6
								.form-group
										label(for="level") {{_ "level"}}
										input#level.awesomplete.form-control(type="text" list="levelList")
										datalist#levelList
											each level
												option #{val}
							.col-xs-12.col-sm-6.col-md-6.col-lg-6
								.form-group
										label(for="group") {{_ "group"}}
										input#group.awesomplete.form-control(type="text" list="groupList")
										datalist#groupList
											each group
												option #{val}
						.checkbox
							label
								input#privateGame(type="checkbox")
								| {{_ "privateGame"}}
			.panel.panel-default
				.panel-heading
					p.panel-title {{_ "playerDefinition"}}
				.panel-body
					.row.playerData
						+playerInfos
				.panel-footer
					button.btn.btn-primary.addPlayer(type="button") {{_ "addPlayer"}}
					button.btn.btn-danger.removePlayer(type="button") {{_ "removePlayer"}}
			.panel.panel-default
				.panel-heading
					p.panel-title {{_ "coachDefinition"}}
				.panel-body
					.row.coachData
						+coachInfos
				.panel-footer
					button.btn.btn-primary.addCoach(type="button") {{_ "addCoach"}}
					button.btn.btn-danger.removeCoach(type="button") {{_ "removeCoach"}}
		.panel-footer
			button.configurationValidation.btn-block.btn.btn-success(type="button") {{_ "configurationValidation"}}

template(name="playerInfos")
	.player.col-xs-12.col-sm-6.col-md-4.col-lg-3
		.panel.panel-default
			.panel-body
				form
					.form-group
						label(for="jersey") {{_ "num"}}
						input.jersey.form-control(type="number" min="4", max="15")
					.form-group
						label(for="lastName") {{_ "name"}}
						input.lastName.form-control(type="text" value="#{lastName}")
					.form-group
						label(for="firstName") {{_ "firstName"}}
						input.firstName.form-control(type="text" value="#{firstName}")

template(name="coachInfos")
	.coach.col-xs-12.col-sm-6.col-md-4.col-lg-3
		.panel.panel-default
			.panel-body
				form
					.form-group
						label(for="lastName") {{_ "name"}}
						input.lastName.form-control(type='text', value='#{lastName}')
					.form-group
						label(for="firstName") {{_ "firstName"}}
						input.firstName.form-control(type='text', value='#{firstName}')
					.checkbox
						label
							input.primaryCoach(type='checkbox')
							| {{_ "primaryCoach"}}
