template(name='summary')
	if Template.subscriptionsReady
		.row
			.col-xs-12.col-sm-12.col-md-6.col-lg-6
				p.lead #{yourClub}
					span.label.label-default #{yourClubScore} - #{opponentScore}
					| #{opponent}
			.col-xs-12.col-sm-12.col-md-6.col-lg-6
				if notStarted
					p.lead {{_ "stateOfTheGame"}} :
						span.label.label-default {{_ "notStarted"}}
				if q1Running
					p.lead {{_ "stateOfTheGame"}} :
						span.label.label-default {{_ "q1Running"}}
				if q1Ended
					p.lead {{_ "stateOfTheGame"}} :
						span.label.label-default {{_ "q1Ended"}}
				if q2Running
					p.lead {{_ "stateOfTheGame"}} :
						span.label.label-default {{_ "q2Running"}}
				if halfTime
					p.lead {{_ "stateOfTheGame"}} :
						span.label.label-default {{_ "halfTime"}}
				if q3Running
					p.lead {{_ "stateOfTheGame"}} :
						span.label.label-default {{_ "q3Running"}}
				if q3Ended
					p.lead {{_ "stateOfTheGame"}} :
						span.label.label-default {{_ "q3Ended"}}
				if q4Running
					p.lead {{_ "stateOfTheGame"}} :
						span.label.label-default {{_ "q4Running"}}
				if oT1
					p.lead {{_ "stateOfTheGame"}} :
						span.label.label-default {{_ "oT1"}}
				if oT2
					p.lead {{_ "stateOfTheGame"}} :
						span.label.label-default {{_ "oT2"}}
				if oT3
					p.lead {{_ "stateOfTheGame"}} :
						span.label.label-default {{_ "oT3"}}
				if oT4
					p.lead {{_ "stateOfTheGame"}} :
						span.label.label-default {{_ "oT4"}}
				if oT5
					p.lead {{_ "stateOfTheGame"}} :
						span.label.label-default {{_ "oT5"}}
		+scoreGapChart(evolution=evolution)
		.panel.panel-default
			.panel-heading
				h4.panel-title #{yourClub}
			.table-responsive
				table.table.table-condensed.table-bordered
					thead
						tr.active
							th.text-center {{_ "num"}}
							th.text-center {{_ "gameTime"}}
							th.text-center {{_ "pts"}}
							th.text-center {{_ "twoPoints"}}
							th.text-center %
							th.text-center {{_ "threePoints"}}
							th.text-center %
							th.text-center {{_ "ft"}}
							th.text-center %
							th.text-center {{_ "rebOffDef"}}
							th.text-center {{_ "totalRebounds"}}
							th.text-center {{_ "assist"}}
							th.text-center {{_ "steal"}}
							th.text-center {{_ "turnover"}}
							th.text-center {{_ "block"}}
							th.text-center {{_ "foulProvComm"}}
							th.text-center {{_ "foulRatio"}}
							th.text-center {{_ "scoreEffect"}}
							th.text-center {{_ "eval"}}
					tbody.yourClubPlayers
						each yourClubPlayers
							+yourClubRow
						tr.active
							with yourClubStats
								td(scope='row')
									b {{_ "total"}}
								td.text-center -
								td.text-center #{score}
								td.text-center #{points.twoPointsIn}/#{teamTotal2PointsShoots}
								td.text-center #{teamPercentage2PointsShoots}
								td.text-center #{points.threePointsIn}/#{teamTotal3PointsShoots}
								td.text-center #{teamPercentage3PointsShoots}
								td.text-center #{points.onePointIn}/#{teamTotal1PointShoots}
								td.text-center #{teamPercentage1PointShoots}
								td.text-center #{offReb}-#{defReb}
								td.text-center #{teamTotalRebounds}
								td.text-center #{assists}
								td.text-center #{steals}
								td.text-center #{turnovers}
								td.text-center #{blocks}
								td.text-center #{teamProvokedFouls}/#{fouls.totalFouls}
								td.text-center #{teamFoulsRatio}
								td.text-center -
								td.text-center #{evaluation}
		.panel.panel-default
			.panel-heading
				h4.panel-title #{opponent}
			.table-responsive
				table.table.table-condensed.table-bordered
					thead
						tr.active
							th.text-center {{_ "num"}}
							th.text-center {{_ "gameTime"}}
							th.text-center {{_ "pts"}}
							th.text-center {{_ "twoPoints"}}
							th.text-center {{_ "threePoints"}}
							th.text-center {{_ "ft"}}
							th.text-center {{_ "scoreEffect"}}
					tbody.opponentPlayers
						each opponentPlayers
							tr(class='#{isInPlay}')
								td.text-center(scope='row')
									b #{jersey}
								+playerTime
								td.text-center #{points.totalPoints}
								td.text-center #{points.twoPointsIn}
								td.text-center #{points.threePointsIn}
								td.text-center #{points.onePointIn}
								td.text-center #{scoreEffect}
						tr.active
							with opponentStats
								td.text-center(scope='row')
									b {{_ "total"}}
								td.text-center -
								td.text-center #{score}
								td.text-center #{points.twoPointsIn}
								td.text-center #{points.threePointsIn}
								td.text-center #{points.onePointIn}
								td.text-center -
	else
		+spinner

template(name="yourClubRow")
	tr(class='#{isInPlay}')
		td.text-center(scope='row')
			b #{jersey}
		+playerTime
		td.text-center #{points.totalPoints}
		td.text-center #{points.twoPointsIn}/#{total2PointsShoots}
		td.text-center #{percentage2PointsShoots}
		td.text-center #{points.threePointsIn}/#{total3PointsShoots}
		td.text-center #{percentage3PointsShoots}
		td.text-center #{points.onePointIn}/#{total1PointShoots}
		td.text-center #{percentage1PointShoots}
		td.text-center #{offReb}-#{defReb}
		td.text-center #{totalRebounds}
		td.text-center #{assists}
		td.text-center #{steals}
		td.text-center #{turnovers}
		td.text-center #{blocks}
		td.text-center #{provokedFouls}/#{fouls.totalFouls}
		td.text-center #{foulsRatio}
		td.text-center #{scoreEffect}
		td.text-center #{evaluation}

template(name="playerTime")
	td.text-center #{playerTime}