template(name="gameCard")
	if Template.subscriptionsReady
		.panel.panel-default
			.panel-heading
				p.panel-title.text-center #{yourClub} - #{opponent}
			.panel-body
				h3.text-center #{yourClubScore} - #{opponentScore}
				+stateOfTheGameText(stateOfTheGame=stateOfTheGame)
			.panel-footer
				a.btn.btn-primary.btn-block(role="button" href="{{pathFor 'aGame'}}") {{_ "followTheLive"}}
	else
		+spinner
