template(name="aGame")
	if Template.subscriptionsReady
		ul#tabsForAGame.nav.nav-tabs(role="tablist")
			if isOwnerOfTheGame
				li.active(role="presentation")
					a(href="#stats" role="tab" data-toggle="tab" aria-controls="stats") {{_ "stats"}}
				li(role="presentation")
					a(href="#resume" role="tab" data-toggle="tab" aria-controls="resume") {{_ "summary"}}
				li#replacement-tab(role="presentation")
					a(href="#replacement" role="tab" data-toggle="tab" aria-controls="replacement") {{_ "replacement"}}
				li(role="presentation")
					a(href="#playersSettings" role="tab" data-toggle="tab" aria-controls="playersSettings") {{_ "gameSettings"}}
			else
				li.active(role="presentation")
					a(href="#resume" role="tab" data-toggle="tab" aria-controls="resume") {{_ "summary"}}
		.tab-content
			if isOwnerOfTheGame
				#stats.tab-pane.active(role="tabpanel")
					+stats(gameData=gameData homePlayersInGame=homePlayersInGame awayPlayersInGame=awayPlayersInGame)
				#resume.tab-pane(role="tabpanel")
					//+summary
				#replacement.tab-pane(role="tabpanel")
					+replacement(gameData=gameData homePlayers=homePlayers awayPlayers=awayPlayers)
				#playersSettings.tab-pane(role="tabpanel")
					//+playerBio
			else
				#resume.tab-pane.active(role="tabpanel")
					//+summary
	else
		+spinner