template(name="aGame")
	with gameData
		.panel.panel-default
			.panel-heading
				h4 #{gameInfos.yourClub} : #{stats.yourClub.score} - #{stats.opponent.score} : #{gameInfos.opponent}
				//+stateOfTheGame
			.panel-body
				.panel.panel-default
					.panel-heading
						h3.panel-title {{_ "yourClub"}} : #{gameInfos.yourClub}
					.panel-body
						p
							em {{_ "explanationHowToAddAStat"}}
						.yourClub.row.playerRow
							//each yourClubPlayersPlaying
								+yourClubPlayerPill
								+yourClubPlayerModal
							//else
								button.displayReplacement.btn.btn-warning(type="button", class="#{gameEndedOrNot}") {{_ "fiveStarter"}}
					.panel-footer
						button.doReplacement.btn.btn-primary(type="button", class="#{doReplacementYourClub}") {{_ "makeAReplacement"}}
				.panel.panel-default
					.panel-heading
						h3.panel-title {{_ "opponent"}} : #{gameInfos.opponent}
					.panel-body
						p
							em {{_ "explanationHowToAddAStat"}}
						.opponent.row.playerRow
							//each opponentPlayersPlaying
								+opponentPlayerPill
								+opponentPlayerModal
							//else
								button.displayReplacement.btn.btn-warning(type="button", class="#{gameEndedOrNot}") {{_ "fiveStarter"}}
					.panel-footer
						button.doReplacement.btn.btn-primary(type="button", class="#{doReplacementOpponent}") {{_ "makeAReplacement"}}